/* Add this CSS to your stylesheet or in a <style> tag in your HTML */

#txt{
    color: red;
    font-size: 25px;
}
#txt1{
    color: red;
    font-size: 25px;
}
#txt2{
    color: red;
    font-size: 25px;
}
#txt3{
    color: red;
    font-size: 25px;
}
#head{
    font-size: 60px;
}

#dot{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#dot1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#dot2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#dot3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#dot4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}